<header>
          <h1><a href="https://khaosdoctor.github.io/delay.css">
          <img src="images/logo_title.png" alt="Delay.css logo">
          </a></h1>
          <h2>CSS Helpers to control CSS animation timming</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/khaosdoctor/delay.css/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/khaosdoctor/delay.css/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/khaosdoctor/delay.css" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>