<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Chivo:900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/delay.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/delay.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" media="screen">

    <link rel="icon" href="favicon.png" sizes="256x256" type="image/png">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Delay.css</title>
</head>