$i: 0;
$max-time: 6000;
$hops: 100;

@while $i < $max-time {

  $i: $i + $hops;

  .delay-#{$i} {
    animation-delay: #{$i / 1000}s;
  }
  .duration-#{$i} {
    animation-duration: #{$i / 1000}s;
  }
}
